.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  background: #ffffff;
  border-radius: 16px;
  width: 100%;
  max-width: 360px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* 헤더 */
.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal__title {
  font-size: 18px;
  font-weight: bold;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}
/* 아이콘 */
.modal__icon {
  margin-top: 12px;
}

/* 설명 */
.modal__description {
  font-size: 14px;
  color: #555;
  margin: 16px 0;
  line-height: 1.5;
}

/* 폼 */
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__input-wrapper {
  display: flex;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.modal__input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  outline: none;
}

.modal__input-wrapper .modal__input {
  padding: 0px;
  border: none;
  border-radius: 0px;
  flex: 1;
}

.modal__input-wrapper .modal__input-option-button::before {
  content: '';
  border: 1px solid #ddd;
  margin-right: 10px;
}
.modal__input-wrapper .modal__input-option-button {
  font-size: 14px;
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
}
.modal__input-wrapper .modal__input-option-button:hover {
  text-decoration: underline;
}

.modal__input:focus {
  border-color: #2563eb;
}

.modal__submit {
  padding: 12px;
  font-size: 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 8px;
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: #cbd5e1;
  cursor: not-allowed;
}
